.PersonalAreaEventlistContainer {
    margin-top: 50px;
    max-width: 850px;
    box-shadow: 0 0 30px rgb(0 0 0 / 15%);
    padding: 0;
}


.wrapperEvents > div:last-child{
    position: absolute;
    bottom: 0;
}

