* {
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root, .App {
  height: 100%;
}
<<<<<<< HEAD

=======
>>>>>>> origin/event_worldwide_add_to_databaseNew3

.mainSignUp {
  margin-top: 0;
}

<<<<<<< HEAD
.App {
  /* height: 100vh; */
}
=======

>>>>>>> origin/event_worldwide_add_to_databaseNew3
